<!--The content below is only a placeholder and can be replaced.-->
<div id="wholepage" style="text-align:center">

  <h1 div id="heading">
      Welcome to My {{ title }}!
  </h1>


            <img width="150" src="assets\list2.jpg" ><br>


           <input [(ngModel)]="TodoList" placeholder="enter your new chore"/>
           <input [(ngModel)]="priority" placeholder="enter your chore priority"/>
            <button (click)="addList()">Add</button><br>
<div id="msg">
    
  <ul id="details" (click)="remove(come)"  *ngFor="let chores of List" >
     <i style="color: black"> your ToDo chore is:</i> {{chores.ItemName}} &nbsp;&nbsp; <i style="color: black">and its priority is:</i>{{chores.ItemPriority}}
  
        <button id="btnDelete" onclick="alert('Are you sure you want to delete')">Delete</button>
           
        <button id="btnEdit" (click)="editChore(chores)">Edit</button>
  </ul>   
  <div id="value"  *ngIf="empty">
    <ul>
      <h1>Your List have no Values</h1>
    </ul>

  </div>
  
<form>  

</form>

</div>
