#wholepage{background-color: rgb(37, 62, 70);
    color: black;
    margin: auto;
    border: 2px solid grey;
    height: 700px;
    width: 800px;
    text-align: center
    

}
#heading{background-color: aquamarine;
    color:darkorchid;
    text-align: center;
    font-family: mickey;
    padding-top: 50px;
    padding-bottom: 50px;

}
#msg{
    color: red;
    font-style: normal;
}
#btnEdit{
    float: right;
    color: rgb(97, 158, 4);
}
#btnDelete{
    float: right;
    color: red;
}

#details{
    text-align: center;
    border: 1px solid grey;
    background-color:white;
    padding: 10px;   
    border-radius: 5px; 
}
#value{
    color: white;
}