<!--The content below is only a placeholder and can be replaced.-->
<div id="wholepage" style="text-align:center">

  <h1 div id="heading">
      Welcome to My {{ title }}!
  </h1>


            <img width="150" src="assets\list2.jpg" ><br>


           <input [(ngModel)]="TodoList" placeholder="enter your new chore"/>
            <button (click)="addList()">Add</button><br>
<div>
    
  <ul>
      <li id="details" (click)="remove(come)"  *ngFor="let chores of List" >{{chores}}
         <button id="btnDelete" onclick="alert('Are you sure you want to delete')">Delete</button>
           
           <button id="btnEdit" (click)="editChore(chores)">Edit</button>
        
      </li>
  </ul>
</div> 

<form>  

</form>

</div>
